html,
body {
  margin: 0;
  width: 100%;
  background-color: #373535;
}
/*
nav {
    padding: 0em;
}
nav ul {
      display: flex;
      flex-direction: row;
}
nav ul li {
        padding: 1.5em;
      }
  

  /*checkbox toggle will hide when breakpoint is beyond mobile*/
/*
#menu-toggle,
#mobile-menu-label {
  display: none;
}

#mobile-menu-label {
  padding: 1.5em 1em;
}
*/
@media (max-width: 414px) {
  .wrapper {
    display: block;
    height: 100vh;
    width: 100%;
    background-color: #373535;
  }
  .container {
    display: block;
    width: 100%;
    height: fit-content;
    background-color: inherit;
  }
  .navbar {
    display: block;
    position: relative;
    width: 90%;
    height: 3em;
    margin: auto;
    border-radius: 0.5em;
    background-color: inherit;
    /*box-shadow: 0em 0em 0.1em 0.1em #303030;*/
  }
  /* stufff
  
  */

  nav {
    width: 100%;
    background: inherit;
    padding-top: 1rem;
    margin: auto;
  }
  nav ul {
    list-style-type: none;
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }
  nav ul li {
    text-align: center;
    padding: 1em;
  }
  nav ul li a {
    text-decoration: none;
    color: #fff;
  }
  nav ul li a:hover {
    color: green;
  }
  nav ul li.active a {
    color: black;
  }

  /*hide checkbox input element*/
  #menu-toggle {
    opacity: 0;
  }

  /* Show menu when #menu-toggle checkbox is checked, use ~*/
  #menu-toggle:checked ~ #menu {
    display: flex;
    background-color: #373535;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(/assets/img/man.svg);
    z-index: 9;
    height: 50vh;
    width: 90%;
    margin-top: 0;
    position: relative;
  }

  #menu-icon {
    position: relative;
    float: right;
  }
  #menu-icon span {
    display: block;
    background: #fff;
    width: 24px;
    height: 3px;
    margin: 4px;
    border-radius: 3px;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  #menu-icon .center_span {
    width: 30px;
  }

  /*end of stuff
  
  */
  .section {
    display: block;
  }
  .main {
    position: relative;
    display: block;
    width: 100%;
    height: 50vh;
  }
  .main_content {
    position: absolute;
    width: 100%;
    height: fit-content;
    margin-top: 12%;
  }
  .bg_img {
    position: absolute;
    margin: auto;
    margin-top: 30%;
    width: 98%;
    height: 34vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("/assets/img/pink.png");
    /* filter: blur(1px);*/
  }
  .header_content {
    position: absolute;
    width: 40%;
    margin-left: 8%;
    height: fit-content;
  }
  h1 {
    font-size: 8vw;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: 700;
    margin-top: 10%;
    line-height: 130%;
    margin-bottom: 10%;
    color: #fff;
  }
  h3 {
    font-size: 4vw;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-weight: 300;
    margin: 0;
    color: rgb(228, 228, 228);
  }
  .head {
    position: absolute;
    width: 10rem;
    height: 12rem;
    top: -3rem;
    margin-left: 49%;
    border-radius: 50% 50%;
  }
  .portfolio_wrapper {
    position: relative;
    width: 100%;
    height: 20rem;
  }
  .title_link {
    display: flex;
  }
  h2 {
    color: #fff;
    width: 50%;
    text-align: center;
  }
  .h4 {
    text-align: center;
    width: 50%;
    color: #91f8f1;
    text-decoration: none;
  }

  .portfolio {
    width: 100%;
    height: 54vh;
    margin-bottom: 10%;
    flex: 1;
    display: flex;
    overflow: auto;
  }
  .card_container {
    display: flex;
    padding: 2px 16px;
    min-height: min-content;
  }
  .card {
    width: 10em;
    height: 15em;
    margin-right: 1.5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 10px;
    background: #474747;
  }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  .card_img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px 10px 0 0;
  }
  .taskbar {
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 90%;
    height: 3em;
    right: 5%;
    bottom: 1%;
    border-radius: 0.5em;
    background-color: inherit;
    box-shadow: 0em 0em 0.1em 0.1em #303030;
  }
  .btn_link {
    position: relative;
    height: 2rem;
    width: fit-content;
    text-align: center;
  }
  .icon {
    position: relative;
    margin: auto;
  }
  .icon i {
    font-size: 1.5rem;
    color: #fff;
    margin: auto;
  }
  .btn_link h5 {
    margin: auto;
    font-family: 2rem;
    width: 4rem;
    position: relative;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #91f8f1;
  }
}
